.services h2{
    font-size: var(--X-LARGE);
    font-family: "Dancing Script", cursive;
    color: #F8E4BE;
    text-align: center;
}
.services .service_tile_container{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem !important;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.services .service_tile_container::-webkit-scrollbar{
    height: 0;
}
.services .service_tile_container .service_tile{
    background-color: #54372A;
    color: #F8E4BE;
    text-align: center;
    padding: 3rem 0;
    border-radius: 2rem;
    width: 14rem;
    min-width: 200px;
    font-size: var(--X-SMALL);
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.services .service_tile_container .service_tile img{
    height: 10rem;
}