.menu{
    display: grid;
    place-content: center;
}
.menu h2{
    font-size: var(--X-LARGE);
    font-family: "Dancing Script", cursive;
    color: #F8E4BE;
    text-align: center;
}
.menuItems{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem 35vw;
    background-image: url('../../assets/mensEnjoyCoffee.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5rem 0;
}
.menuItems p{
    font-family: "Dancing Script", cursive;
    color: #F8E4BE;
    font-size: var(--X-MEDIUM);
    display: inline-flex;
    align-items: center;
    gap: 5vw;
    position: relative;
}
.menuItems p:nth-child(even){
    flex-direction: row-reverse;
}
.menuItems p::after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: -1rem;
    left: -1rem;
    background-image: url('../../assets/menuItemStyle.svg');
    width: 100%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.menuItems p:nth-child(even)::after{
    transform: rotate(180deg);
    left: unset;
    right: -1rem;
    bottom: -1rem;
}
.menuItems p span{
    font-size: var(--SMALL);
}
.menuItems p:nth-child(1),.menuItems p:nth-child(7){
    right: -3rem;
}
.menuItems p:nth-child(2),.menuItems p:nth-child(8){
    left: -3rem;
}
.ourMenuButton{
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    cursor: pointer;
}
.ourMenuButton p{
    font-size: var(--SMALL);
    color: #F8E4BE;
}
.ourMenuButton img{
    height: 1.25rem;
}

@media screen and (max-width:769px) {
    .menuItems{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        gap: 5rem;
        padding: 5rem 2rem;
    }
    .menu{
        justify-content: stretch;
    }
}
@media screen and (max-width:708px){
    .menuItems{
        gap: 1rem 5rem;
    }
}