section.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;
    background: linear-gradient(to right, transparent calc(100% - 585px),#7C573C 585px);
}
.glow1,.glow2{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: #745F58;
    position: absolute;
    top: -225px;
    left: -225px;
    z-index: 0;
    filter: blur(100px);
}
.glow2{
    height: 1102px;
    width: 1102px;
    top: -551px;
    left: -551px;
    z-index: -1;
    background-color: #3F2F2A;
}
h1{
    font-size: var(--XX-LARGE);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    background: linear-gradient(to left, #F8E4BE 20%,#FFF3E0 37%,#FFF8E8 52%,#DFC39D 73%);
    background-clip: text;
    -webkit-text-fill-color: #1A1011;
    -webkit-text-stroke: transparent;
    -webkit-text-stroke-width: .5rem;
    padding: 1rem;
    z-index: 2;
    text-wrap: nowrap;
}
h4{
    font-size: var(--SMALL);
    font-weight: 400;
    color: #DABB9E;
    z-index: 2;
    width: fit-content;
    max-width: 450px;
}
.buttons{
    display: flex;
    gap: 5rem;
    z-index: 2;
}
.buttons button,.hurryupButton{
    font-size: var(--X-SMALL);
    padding: .5rem 2rem;
    cursor: pointer;
    background-color: #f7e1bb4d;
    border: .1rem solid #F7E1BC;
    border-radius: 50px;
    color: #F7E1BC;
    text-wrap: nowrap;
}
.buttons button:nth-child(2){
    background-color: #7360594d;
}
.card{
    background-color: #4A2721;
    width: 25rem;
    border-radius: 2.5rem 2.5rem 0 0;
    position: relative;
    border: .25rem outset #54372B;
    border-right: none;
    border-bottom: none;
    /* margin-top: 1rem; */
    z-index: 2;
}
.card img:not(.hurryupButton img){
    height: 15rem;
}
.hurryupButton{
    width: fit-content;
    height: fit-content;
    font-size: var(--XXX-SMALL);
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: .25rem 1rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}
.card p{
    font-size: var(--MEDIUM);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    background: linear-gradient(to left, #F8E4BE 20%,#FFF3E0 37%,#FFF8E8 52%,#DFC39D 73%);
    background-clip: text;
    color: transparent;
    text-wrap: nowrap;
    position: absolute;
    top: calc(50% - 1rem);
    left: 50%;
}
.coffeeCupImage{
    width: 60rem;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media screen and (max-width:1024px){
    .coffeeCupImage{
        width: 45rem;
    }
}
@media screen and (max-width:769px){
    section.hero{
        background: linear-gradient(to right, transparent calc(100% - 585px),#7C573C 1200px);
    }
    .coffeeCupImage{
        position: relative;
        width: 100%;
    }
    .glow1{
        width: 225px;
        height: 225px;
    }
    .glow2{
        width: 550px;
        height: 550px;
    }
}
@media screen and (max-width:626px){
    section.hero{
        gap: 2rem;
    }
}
@media screen and (max-width:426px){
    .card{
        width: 20rem;
        padding: 1rem 0;
    }
    .card img:not(.hurryupButton img){
        height: unset;
        width: 50%;
    }
    .card p{
        left: 40%;
        top: calc(45% - 1rem);
    }
    .buttons{
        max-width: 300px;
        gap: 0;
        justify-content: space-between;
    }
    .hurryupButton{
        bottom: 1rem;
    }
}