.offer{
    margin-top: calc(var(--margin) + var(--X-LARGE));
}
.offerInfo{
    position: relative;
    background: rgba(173, 113, 74, 0.35);
    backdrop-filter: blur(2px);
    border-radius: var(--border-radius);
    padding: 1.5rem 3rem;
    gap: 2rem 0;
    display: grid;
    grid-template-areas: "heading_3 image"
                         "para image"
                         "button image";
    align-items: center;
}
.offer h2{
    font-size: var(--X-LARGE);
    font-family: "Dancing Script", cursive;
    color: #F8E4BE;
    position: absolute;
    left: 3rem;
    top: calc(0rem - var(--LARGE));
}
.offer span{
    font-size: var(--LARGE);
}
.offer h3{
    margin-top: var(--MEDIUM);
    font-size: var(--MEDIUM);
    color: #F8E4BE;
    font-weight: 100;
    grid-area: heading_3;
    grid-row: span;
}
.offer p{
    color: #ffffff;
    font-size: var(--X-SMALL);
    line-height: 2.5rem;
    letter-spacing: .1rem;
    grid-area: para;
}
.offer img{
    /* height: 20rem; */
    width: 100%;
    grid-area: image;
}
.offer button{
    font-size: var(--X-SMALL);
    padding: .5rem 2rem;
    cursor: pointer;
    background-color: #f7e1bb4d;
    border: .1rem solid #F7E1BC;
    border-radius: 50px;
    color: #F7E1BC;
    grid-area: button;
    width: fit-content;
    height: fit-content;
    margin-bottom: 1.5rem;
}

@media screen and (max-width:769px) {
    .offerInfo{
        grid-template-areas: "heading_3"
                         "para"
                         "button"
                         "image";
        padding: 1.5rem 1.5rem;
        gap: 1rem 0;
    }
    .offer button{
        margin-bottom: 0;
    }
}