header{
    width: 100%;
    display: flex;
    padding: .5rem auto;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
img.logo{
    height: 3rem;
    width: 3rem;
}
.profileAndCart{
    display: flex;
    gap: .5rem;
    margin-left: auto;
    margin-right: 5rem;
}
.profileAndCart img{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}
nav{
    width: fit-content;
}
nav ul{
    display: flex;
    gap: 2.5rem;
}
nav ul li{
    font-size: var(--XX-SMALL);
    list-style: none;
    font-weight: 300;
    cursor: pointer;
    color: #FFF8E8;
}
.hamburger{
    height: 2rem;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:769px) {
    .hamburger{
        display: block;
    }
    nav{
        position: fixed;
        top: 0;
        right: -15rem;
        width: 15rem;
        background-color: #7C573C;
        background: linear-gradient(to right, transparent calc(100% - 585px),#7C573C 585px);
        backdrop-filter: blur(10px);
        height: 100vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: 250ms;
    }
    nav ul{
        flex-direction: column;
        margin-top: 5rem;
        align-items: center;
    }
    .displayNav{
        right: 0;
    }
}