footer{
    font-size: var(--XX-SMALL);
    background-color: #533529;
    /* height: 25rem; */
    position: relative;
    /* margin-top: 8rem; */
    color: #FFF3E0;
    display: grid;
    gap: 1rem;
    /* grid-template-columns: 3fr 1fr 2fr 2fr 3fr;
    grid-template-rows: 3fr 1fr; */
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    grid-template-rows: 1fr;
    position: relative;
    align-items: center;
}
footer img.footerImage{
    height: 20rem;
    grid-row: 1/3;
    /* padding: 1.5rem 0; */
    align-self: center;
}
footer li{
    list-style: none;
    font-size: var(--XX-SMALL);
    margin: 1.5rem 0;
    width: fit-content;
}
footer li:not(address li){
    cursor: pointer;
}
footer p{
    font-size: var(--X-SMALL);
}
footer .copyright{
    color: #FEF2DF;
    line-height: 1.5rem;
    grid-column: 2/-2;
}
footer .copyright p{
    text-align: center;
    font-size: var(--XX-SMALL);
}
footer address li{
    font-style: normal;
    display: flex;
    gap: .5rem;
    margin: 2rem 0;
}
footer address li span{
    display: flex;
    align-items: center;
    width: fit-content;
}
footer address li img{
    height: 1.5rem;
}
.socialMedia{
    display: flex;
    font-size: var(--X-SMALL);
    position: absolute;
    right: 3rem;
    top: -2.5rem;
    gap: .5rem;
}
.socialMedia img{
    height: 2rem;
    cursor: pointer;
}
@media screen and (max-width:769px){
    footer{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
    footer img.footerImage{
        height: 80%;
    }
}