.blog{
    width: 100%;
    position: relative;
    background: #53362A;
    margin-top: calc(var(--margin) + var(--X-LARGE));
}
.blog h2{
    width: 100%;
    text-align: center;
    font-size: var(--X-LARGE);
    font-family: "Dancing Script", cursive;
    color: #F8E4BE;
    position: absolute;
    top: calc(0rem - var(--LARGE));
    left: 0;
}
.blogContainer{
    display: flex;
    margin: 3.5rem 0;
    overflow: auto;
    gap: 2rem;
    scroll-snap-type: x mandatory;
}
.blogContainer::-webkit-scrollbar{
    height: 0;
}
.blogTile{
    font-size: var(--X-SMALL);
    min-width: 35rem;
    background-color: #997D6C;
    padding: 1rem 2.5rem;
    border-radius: var(--border-radius);
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.blogTile h3{
    font-size: var(--SMALL);
    color: #ffffff;
    font-weight: 100;
    margin: 1rem 0;
}
.blogTile p{
    font-size: var(--X-SMALL);
    color: #F6E5DA;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    line-height: 2.5rem;
    letter-spacing: .1rem;
}
.blogTile img.image{
    height: 4rem;
    margin-top: 1rem;
}
.blogTile button.moreButton{
    background-color: unset;
    font-size: var(--X-SMALL);
    text-decoration: underline;
    color: #ffffff;
    float: right;
    cursor: pointer;
    border: none;
    margin-top: 2rem;
}
.blogTile .viewMore{
    width: 100%;
    display: block;
}
.NowrapTile{
    min-width: 100%;
}
@media screen and (max-width:769px) {
    .blogTile{
        padding: 1rem 1.5rem;
    }
}
@media screen and (max-width:625px){
    .blogTile{
        min-width: 100%;
    }
}