section,header,footer{
    padding: 1rem 3rem;
}
section{
    margin-bottom: 5rem;
}
::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: #A8715C;
}