:root{
    --XX-LARGE : 8rem;
    --X-LARGE : 4rem;
    --LARGE : 3rem;
    --MEDIUM : 2rem;
    --X-MEDIUM : 2.5rem;
    --SMALL : 1.5rem;
    --X-SMALL : 1.25rem;
    --XX-SMALL : 1rem;
    --XXX-SMALL : .85rem;
    --margin : 2rem;
    --border-radius: 2rem;
}
section,header,footer{
    padding: 1rem 3rem;
    scroll-margin-top: 110px;
}
section{
    margin: var(--margin) 0;
}
section:first-child{
    margin-top: 0;
}
section:last-child{
    margin: calc(var(--margin) * 2) 0;
}
footer{
    margin-top: calc(3 * var(--margin));
}
::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: #A8715C;
}
button,img{
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width:769px) {
    :root{
        --XX-LARGE : 6rem;
    }
    section,header,footer{
        padding: 1rem 2rem;
    }
}
@media screen and (max-width:626px) {
    /* :root{
    --XX-LARGE : 4rem;
    --X-LARGE : 3rem;
    --LARGE : 2rem;
    --MEDIUM : 1rem;
    --X-MEDIUM : 1.5rem;
    --SMALL : 1.25rem;
    --X-SMALL : 1rem;
    --XX-SMALL : 1rem;
    --XXX-SMALL : .85rem;
} */
    :root{
        --XX-LARGE : 4rem;
        --X-LARGE : 3rem;
        --LARGE : 2rem;
        --MEDIUM : 2rem;
        --X-MEDIUM : 1.5rem;
        --SMALL : 1.25rem;
        --X-SMALL : 1rem;
        --XX-SMALL : 1rem;
        --XXX-SMALL : .85rem;
    }
}
@media screen and (max-width:426px) {
    :root{
        --border-radius: 1rem;
    }
    section,header,footer{
        padding: 1rem 1rem;
    }
}